#rootPane {
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-font-family: "Segoe UI", sans-serif;
}

.theme-clouds { -fx-background-image: url("chmurki.jpg"); }
.theme-clouds2  { -fx-background-image: url("chmurki2.jpg"); }
.theme-clouds3    { -fx-background-image: url("chmurki3.jpg"); }
.theme-cr    { -fx-background-image: url("chmurki4.jpg"); }

.city-name {
    -fx-font-size: 38px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.0, 0, 2);
}

.temperature {
    -fx-font-size: 96px;
    -fx-font-weight: 100;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 15, 0.0, 0, 3);
}

.description, .high-low {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.0, 0, 2);
}

.info-module {
    -fx-background-color: rgba(40, 40, 40, 0.4);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-padding: 15px;
}

.module-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.search-field {
    -fx-background-radius: 30;
    -fx-background-color: rgba(40, 40, 40, 0.5);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #ccc;
    -fx-font-size: 14px;
}

.theme-combo {
    -fx-background-color: rgba(40, 40, 40, 0.5); /* Ciemne szkło */
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
}

.theme-combo .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 3px 0 3px 10px;
    -fx-font-size: 14px;
}

.theme-combo .arrow-button {
    -fx-background-color: transparent;
}
.theme-combo .arrow {
    -fx-background-color: white;
    -fx-opacity: 0.7;
}


.theme-combo .list-view {
    -fx-background-color: rgba(40, 40, 40, 0.85);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: rgba(255, 255, 255, 0.2);

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.0, 0, 5);
}

.theme-combo .list-view .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.theme-combo .list-view .list-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

.theme-combo .list-view .list-cell:filled:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.scroller, .scroller .viewport {
    min-height: 180px;
    -fx-background-color: transparent;
}

.scroller .scroll-bar:horizontal {
    -fx-opacity: 1;
    -fx-pref-height: 12px;
    -fx-background-color: transparent;
    -fx-padding: 2px;
}


.scroller .scroll-bar:horizontal .track {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.scroller .scroll-bar:horizontal .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 10;
}

.scroller .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-cursor: hand;
}

.scroller .scroll-bar .increment-button,
.scroller .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}

.forecast-tile {
    -fx-alignment: center;
    -fx-min-width: 70px;
    -fx-pref-height: 120px;
    -fx-background-color: transparent;
}

.forecast-time { -fx-text-fill: white; -fx-font-weight: bold; }
.forecast-temp { -fx-text-fill: white; -fx-font-size: 16px; }